

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555;
}
.mega {
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
}
.navbar {
    padding-top: 20px;
}
.navbar-default {
    background: transparent;
    border: none;
    box-shadow: none;
}
.navbar .btn-web {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav .btn-web {
    margin-top: 8px;
}
.navbar-default .navbar-nav .btn-web:hover {
    background-color:#8e44ad;
}
.btn-web {
     background-color:#9b59b6;
     color:white;
     border-radius: 24px;
}
.btn-web:hover {
     background-color:#8e44ad;
     color: white;
}
.primary-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 100px;
}
.primary-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primary-content h1 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    font-size:45px;
}
.searchbox {
    display: flex;
    flex-direction: row;
}
.searchbox .form-control,
.searchbox .btn-web {
    padding: 15px;
    border-radius: 50px;
}
.searchbox .form-control {
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 20px;
    height: auto;
    width: 500px;
    font-size: 18px;
}
.searchbox .btn-web {
    display: inline-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0px;
    padding-left: 25px;
    padding-right: 30px;
    font-size: 18px;
}
.form-control.light {
    border-color:#fff;
    box-shadow: none;
}
.front-card {
    margin-top: -100px;
    background: #fff;
    box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 8px;
}
.front-card h1 {
    margin-top: 0;
    margin-bottom: 20px;
}
.category-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    margin-bottom: 20px;
    position: relative;
}
.category-item .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-item .overlay h2 {
    color: #fff;
}
.category-item .thumb {
    height: 200px;
    overflow:hidden;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.owl-carousel .owl-stage-outer {
    height: 200px;
}
.owl-theme .owl-nav {
    position: absolute;
    bottom: 0;
    right: 0;
}
.owl-theme .owl-nav [class*='owl-'],
.owl-theme .owl-nav [class*='owl-']:hover {
    background:transparent;
}
.category-item .thumb img {
    width: 100%;
}
.category-item .thumb.tall {
    height: 150px;
    overflow:hidden;
}
.category-item .text {
    background:#fff;
    padding: 10px;
}
.category-item h2 {
    margin-top: 0;
}
.category-item p {
    color: #999;
}
.ads-section {
    padding: 30px;
    background:#efefef;
}
.banner {
    margin-bottom: 40px;
    text-align: center;
}
.footer{
    margin-bottom:70px;
    margin-top:50px;
}
.footer h4{
    color:#000;
    font-size:20px;
    margin-bottom:20px;
    
}
.footer p1{
    color:#999;
    line-height:2.5;
    padding-right:75px;
}
.footer ul{
    list-style-type:none;
    padding-left:0;
    line-height:2.5;
     color:#999;
}
.rights p{
    text-align:center;
    margin-top:-8px;  
    padding:30px;
    font-size:15px;
     color:#999;
}
.signup {
    background-image: url('../img/jkl.jpg');
    background-size: cover;
    background-position: center;
    height:50vh;
    margin-bottom:40px;
    height: 400px;
}
 .signup .btn-web{
    background-color:#9b59b6;
    color:white;
    border-radius:50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.signup h2{
    margin-top:150px;
    color:#fff;
}
.signup .buttons{
    margin-top:40px;
}
.signup .allcontent{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

 .subscribe{
      background:#ccc;
      display: flex;
      flex-direction: column;
      align-items:center;
      padding-top: 4em;
      padding-bottom: 4em;
 }
 .mail{
        display: flex;
        flex-direction: column;
        align-items: center;
 }
 .mail h3 {
     margin-top: 0;
     margin-bottom: 20px;
 }
 .subscription {
    display: flex;
    flex-direction: row;
}
.subscription .form-control,
.subscription .btn-web {
    padding: 15px;
    border-radius: 50px;
}
.subscription .form-control {
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 20px;
    height: auto;
    width: 500px;
    font-size: 18px;
}
.subscription .btn-web {
    display: inline-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0px;
    padding-left: 25px;
    padding-right: 30px;
    font-size: 18px;
}
.form-control.light {
    border-color:#fff;
    box-shadow: none;
}
.nav-tabs>li{
  width:100%;
}
.nav-tabs>li>a:hover{
  background:#ccc;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color:#ffe6e6;
    border:none;
    }
  

.tabs{
    padding:20px;
    height:300px;
    width:1100px; 
    box-shadow:0px 0px 10px 1px #ccc;
}
.foot {
    text-align: center;
    padding: 20px;
      }
.category-img {
    float: left;
    width: 25%;
    text-align: center;
}
.category1 {
    
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.category-img img {
    width: 75%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.category-info {
    float: left;
    width: 30%;
}
.category-info h4 {
    color: #000;
    font-size: 22px;
}
.category-info span {
    color: #000;
    font-size: 12px;
    display: block;
    margin: 10px 0;
}
h2.head{
    color:#999;
    font-size: 35px;
    margin: 35px 0;
}
.main-grid-border {
    border-bottom: 3px solid #F4F4F4;
}

.categories-section {
    padding: 0 0 60px 0;
}
.sub-categories ul li {
    list-style-type: none;
    margin: 20px 0px;
    float: left;
    width: 50%;
}

.select-box{
    background-color:#add;
    padding:50px 0px;
    margin:25px 0px;
    border-radius:5px;
    width:1200px;
    height:120px;
}
.ads-list{
    float:left;
    width:30%;
    margin-top:-30px;
}
.ads-list label{
    display:block;
    margin-left:10px;
}
.search-input{
    margin-left:10px;
    padding:3px;
    border:solid 1px #ccc;
    background-color:#fff;
}
.search-input input {
    border: 0;
    box-shadow: none;
}
.input-group{
    position:relative;
    display:table;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;

}
.btn-loc{
    background-color:transparent;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.btn-info:active, .btn-info:focus, .btn-info:hover {
    color: #fff;
}